html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
}
button,
input,
textarea {
  border-radius: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
a {
  text-decoration: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.no-transition {
  transition: none !important;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
form label {
  display: block;
  font-size: 12px;
  color: #171717;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 0.5px;
}

form label.label-remember-me{
  display: inline-block;
  cursor: pointer;
}
/*form input {
  height: 46px;
  border: solid 1px #e6e6e9;
  width: 100%;
  padding-left: 14px;
  margin-bottom: 14px;
  border-radius: 3px;
  background-clip: padding-box;
  outline: none;
}*/
form textarea {
  width: 100%;
  border: none;
  border-radius: 3px;
  background-clip: padding-box;
  resize: none;
  line-height: 22px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 14px;
  display: block;
  outline: none;
}
.button {
  cursor: pointer;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: normal;
  transition: all 400ms;
  text-align: center;
  width: 100%;
  max-width: 160px;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 0.8px;
  padding: 12px 16px;
  background: #4285f4;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 380px) {
  .button {
    margin: 10px 0px;
  }
}
.button.center {
  margin: auto;
  display: block;
}
/*MESSAGES*/
.alert {
  padding: 1em 2em;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 0em;
  color: #c09853;
  line-height: 1.3em;
  font-size: 12px;
  display: inline-block;
}
.alert.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert.alert-error {
  color: #B80300;
  background-color: #FCB2B2;
  border-color: #FF8080;
}
.alert.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/*MESSAGES END*/
body {
  background: #f2f2f4;
}

.login-wrap{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.login-form-wrap{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-login {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.logo-login img {
  width: 100%;
  max-width: 100px;
}
.login-background{
  width: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-form {
  width: 100%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .login-form {
    margin-top: 100px;
    -webkit-transform: none;
            transform: none;
    top: 0;
  }
}
.login-form form {
  margin-bottom: 14px;
}
.login-form form input[type="text"],
.login-form form input[type="password"]  {
  position: relative;
  width: 100%;
  height: 46px;
  padding: 0;
  line-height: 16px;
  padding-left: 34px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'HelveticaNeue', sans-serif;
  color: #4a4a4a;
  background-color: rgba(254, 254, 254, 0.6);
  border: solid 1px #b7bbc0;
  border-radius: 3px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.login-form form input[type="email"] {
  background-image: url('../../images/admin/icon-at.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}
.login-form form input[type="password"] {
  background-image: url('../../images/admin/icon-lock.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.login-form form ::-webkit-input-placeholder {
  color: #4a4a4a;
}
.login-form form :-moz-placeholder {
  /* Firefox 18- */
  color: #4a4a4a;
}
.login-form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #4a4a4a;
}
.login-form form :-ms-input-placeholder {
  color: #4a4a4a;
}
.login-form form button {
  margin-top: 15px;
}
.login-form a {
  font-size: 12px;
  font-family: 'Helvetica-Bold', sans-serif;
  line-height: 18px;
  color: #4a4a4a;
}
.signup-link {
  position: absolute;
  width: 100%;
  bottom: 35px;
  text-align: center;
  font-family: 'HelveticaNeue', sans-serif;
}
.signup-link a {
  font-size: 16px;
  color: #4a4a4a;
  line-height: 24px;
}
.signup-form {
  width: 100%;
  max-width: 340px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .signup-form {
    top: 0px;
    -webkit-transform: none;
            transform: none;
    margin-top: 140px;
  }
}
.signup-form form label {
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: left;
  font-size: 12px;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  color: #171717;
  margin-bottom: 2px;
}
.signup-form form input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  margin-bottom: 13px;
  border: 1px solid #e6e6e9;
  border-radius: 2px;
  background-clip: padding-box;
  padding-left: 14px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'HelveticaNeue-Light', sans-serif;
  color: #4a4a4a;
}
.signup-form form ::-webkit-input-placeholder {
  color: #4a4a4a;
}
.signup-form form :-moz-placeholder {
  /* Firefox 18- */
  color: #4a4a4a;
}
.signup-form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #4a4a4a;
}
.signup-form form :-ms-input-placeholder {
  color: #4a4a4a;
}
.signup-form form button {
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 44px;
}
.signup-form .terms-conditions {
  font-size: 12px;
  line-height: 18px;
  color: #4a4a4a;
  font-family: 'HelveticaNeue-Bold', sans-serif;
}
.signup-form .terms-conditions a {
  color: #007a4d;
}
.button {
  cursor: pointer;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: normal;
  transition: all 400ms;
  text-align: center;
  width: 100%;
  max-width: 160px;
  box-sizing: border-box;
  font-size: 13px;
  padding: 10px 20px;
  background: #4285f4;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  border: 1px solid transparent;
  color: #fff;
  font-weight: normal;
  border-radius: 6px;
}
.button.remove-item {
  display: inline-block;
  text-align: left;
  width: 290px;
  color: #fff;
  box-sizing: border-box;
  padding: 16px;
  background: #979797 url("../../images/admin/delete.png") no-repeat 95% 50%;
  vertical-align: top;
}
.button.remove-item.file {
  min-width: 50px;
  width: 80px;
  padding: 3px 4px;
  background-size: contain !important;
  background-origin: content-box !important;
  line-height: 16px;
  font-size: 11px;
  left: 192px;
  top: 10px;
  position: absolute;
}
.button.remove-item.file.image {
  left: 10px;
  box-shadow: 0px 0px 8px #fff;
}
.button.remove-item.file.list {
  color: #fff;
  top: 12px;
  left: auto;
  right: 0;
  width: 70px;
  padding: 3px 3px 3px 5px;
}
.button.save-item {
  text-align: left;
  width: 290px;
  color: #fff;
  box-sizing: border-box;
  padding: 16px;
  background: #4A4A4A url("../../images/admin/save.png") no-repeat 95% 50%;
}
@media only screen and (max-width: 1024px) {
  .button.save-item + .remove-item {
    margin-left: 0;
    margin-right: 0;
  }
}
.button.item {
  text-align: left;
  width: 290px;
  color: #fff;
  box-sizing: border-box;
  padding: 16px;
  margin: 0 0 10px 0;
  background: #4A4A4A;
}
