h1{
	font: bold 42px/1.5em Arial;
	margin: 120px 0px 0px 0px;
	border-bottom: 1px solid #ddd;
	color: #444;
	padding-bottom: 10px;
}
a{
	color: #444;
	text-decoration: none;
	font: bold 24px Arial,sans-serif;
}
a:hover,a.active{
	color: #E91A40;
}

label {
	display: inline-block;
	vertical-align: top;
	padding: 10px 24px 10px 0;
	font-size: 16px;
	line-height: 17px;
	font-weight: bold;
	color: #444;
	
}
html,body{
	height: 100%;
}
body{
	font-family: Helvetica;
	background: #EEE;
}
.wrapper{
	position: relative;
	width: 800px;
	margin:auto;
	background: white;
	min-height: 100%;
	padding-top: 10px;

}
.inner{
	margin: 70px 30px 30px;
}
header{
	position: fixed;
	top:0;
	left:0;
	height: 60px;
	width:100%;
	line-height: 60px;
	background: #FFF;
	z-index: 1;
	/* box-shadow: 2px 0px 11px #999; */
	text-align: center;
	z-index: 10;
	background: #444;
}
header a{
	font-size: 15px;
    
	padding: 0 13px 0 10px;
    border-left: 1px solid #999;
	font-weight: bold;
}
header a:first-child{
    border-left: none;
}
header a.logout{
    position: absolute;
	
    right: -96px;
    background: #999;
    padding: 0 20px;
    font: bold 16px Arial;
    color: white;
    line-height: 60px;
}
header a.logout:hover{
	background: #E91A40;
}
.header-inner{
	width: 800px;
	margin:auto;
	position: relative;
	background: #444;
	height: 60px;
}
nav{
    float: right;

    color: white;
}
nav a{
	color:white
}
.admin-logo{
    float: left;
    height: 29px;
    margin-top: 15px;
}
.preview-image{
    background: #eee;
    text-align: center;
    overflow:hidden;
}
.preview-image img{
    margin: 6px auto;
    height: 160px;
    border: 1px solid #FFF;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 8px;
    margin: 0;
    box-shadow: 0px 0px 3px -1px;  border: 1px solid #eee;
}
.gallery-title{
	width: 60% !important;
	margin-right: 50px !important;
}
textarea{
	width: 100%;
	height: 160px;
	padding: 7px;
	font-family: arial,sans-serif;
	box-shadow: 0px 0px 3px -1px;
	border: 1px solid #eee;
	outline: none;
	resize: none;
	color: #212121;
	font-size: 12px;
}
li, p{
	display:block;
	padding: 10px 25px;
	border-bottom: 1px solid #ddd;
}
li:hover{
    background: #ddd;
}
label.radio{
	display:inline;
}
.button, [type='submit'], button {
	background: #777;
	padding: 8px 25px;
	border-radius: 4px;
	color: #333;
	margin: 20px 25px;
	line-height: 26px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	color: white;
	border: none;
	font-weight: bold;
}
[type='submit']{
		
}
.button:hover, [type='submit']:hover, button:hover{
    background: #444;
    color: white;
}
.image-list{
    background: #eee;
    overflow: hidden;
}
.image-list li{
	margin: 6px;
	width: 208px;
	float: left;
	height: 128px;
	overflow: hidden;
	padding: 12px;
}
.image-list img{
    width: 100%;
    cursor: pointer;
    display: box;

}
.image-list .buttons{
    position: absolute;
    margin-top: 5px;
    z-index: 1;
}
.image-list img:hover, .image-list img.selected{
    opacity: 0.7;
}
.right{
	float:right;
}
.submenu{
	margin-left: 40px;
}
.small-preview{
	width:35px;
	height:35px;
	margin: 0 10px 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: center;
}
input[type="file"]{
	margin: 0;
	padding: 0;
	padding-left: 10px;
	position: relative;
	top: 5px;
}

input[type="file"].lower{
	top: 5px;
}
input[type="file"].upper{
	top: -13px;
}
.remove-image,
.crop-image
{
	margin-left: 8px !important;
	background: rgba(102,102,102,0.8);
	padding: 4px 12px;
	float: left;
}
.remove-image:hover, 
.crop-image:hover, 
.delete:hover
{
	background: #E91A40;
	color: white;
}
.responseMessage{
	margin: 40px;
	text-align: center;
	display: block;
	font-size: 30px;
	color: #999;
}
.admin-about{
	margin-top:30px;
}
.admin-about label{
	width:70px;
}
.admin-about input{
	width: 326px;
}
.admin-about textarea{
	width: 534px;
}
.admin-about .x, .admin-about .y{
	width:205px;
	margin-right: 10px;
}
.admin-about .small-preview {
	margin-left: 0;
}
.admin-about .locate, .admin-about .delete{
	float: right;
	width: auto;
	margin: -25px 10px;
	margin-right: 0;
	padding: 2px 11px;
}
input.page-link{
	width: 197px;
	top: 0px !important;
	margin-left: 10px;
}

 table.sublist{
	width: 100%;
}
.sublist td{
	width: auto;
	padding:10px;
}
.sublist li, .sublist p{
	display:block;
	padding: 10px;
}
.sublist tr{
	display:table-row;
}
.sublist li:hover, .sublist tr:hover{
    background: #eee;
}
.sublist {
	font-size: 12px;
}
.sublist td {
	padding: 2px 10px;
}
.sublist .button {
	padding: 2px 10px;
	line-height: 14px;
	margin: 0 10px;
}
.newsHidde{
	display: none;
	margin-top: 5px;
}
.crop-button{
	margin: 0;
	position: relative;
	top: 0px;
	font-size: 14px;
	line-height: 19px;
	float: right;
	right: -17px;
}
.inputNote{
	margin-left: 175px;
	font-size: 12px;
	color: #666;
}
.buttons .button{
	margin: 0;
	margin-left: 17px;
}
.gallery-crop{
	display: none;
	margin-top: 6px;
	text-align: right;
}
.visible{
	position: absolute;
	right: 55px;
	margin-top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.green{
	background: rgb(155, 214, 146) !important;
}
.crop-image{
	float: right;
	
}
.campaign-checkbox{
	width: 350px;
	float: left;
	padding: 10px;
}
.img-link, .img-preview {
	cursor: pointer;
}
/*.blog-list{
	width: 110px;
	position: absolute;
	right: 0;
	top: 10px;
}*/
.fileUpload {
	position: relative;
	overflow: hidden;
	background: #777;
	width: 90px;
	padding: 9px 25px;
	border-radius: 4px;
	color: white;
	font: bold 14px Arial,sans-serif;
	display: inline-block;
}
.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.footer{
	text-align: center;
}
.footer p{
	color: #777;
	font-size: 12px;
}
.footer p span{
	color: #E91A40;
}
.checkbox-label{
	font-size: 12px;
}

/*googlemap*/
.marker-popup-content{
    padding: 15px; 
    font: 13px Arial;
    color: #fff;
    text-align: center;
    background: #555;
    width:240px;
    bottom:9px;
	left:26px;
	position:absolute;
	text-align:left;
}
.marker-popup-content img{
    width: 190px;
    display:block;
}
.marker-popup-content h2{
    font-size: 12px;
    margin: 0;    
    letter-spacing: 1px;
}
.marker-popup-content h1{
	font:36px 'FuturaW02-LightCondense 774902';
	color: white;
	margin:15px 0 0 0;
}
.marker-popup-content p{
	font: 14px Arial;
	color: white;
}
.marker-popup-content span{
	font-size:14px;
}
.infobox-bottom {
    width: 48px !important;
    height: 25px;
    position: absolute;
    bottom: -24px;
    left: 50px;
}
.remove-list-item{
	float:right
}
/*end googlemap*/

/*MESSAGES*/
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c09853;
	line-height: 1.3em;
	text-align: center;
}
.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-error {
	color: #B80300;
	background-color: #FCB2B2;
	border-color: #FF8080;
}
.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
/*MESSAGES END*/

select{
	padding: 5px;
	border-radius: 4px;
}

.type-specific-input{
	display: none;
}
.admin-seo label{
	width:80px;
}

.hide-panel{
	display: none;
	margin-top: 5px;

}